{% extends "base.html" %}
{% load i18n tz %}


{% block content %}
{% timezone event.tzname %}
  <div class="container">
    <div class="row">
      <div class="col-sm-12">

        <h2>{% trans "Delete circle" %}</h2>
        <form method="post">{% csrf_token %}
          <p>{% blocktrans with datetime=event.start timezone=event.start|date:"e" %}Are you sure you want to delete the Circle starting at {{ datetime }} ({{ timezone }})?{% endblocktrans %}</p>
          
          <a class="btn btn-outline-secondary" href="{% url 'circles:list' %}">{% trans "Cancel" %}</a>
          <button type="submit" class="btn btn-primary">{% trans "Delete" %}</button>
        </form>

      </div>
    </div>
  </div>
{% endtimezone %}
{% endblock %}