{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
  <div class="row">
		<div class="col-sm-12">

      <h2>{% blocktrans with date=event.start %}
            Participate in circle at {{ date }}
          {% endblocktrans %}
      </h2>

      {% if event.is_full %}
        <p>{% trans "Sorry, this circle is already full" %}</p>
        <a href="{% url 'circles:list' %}">{% trans "Back" %}</a>
      {% elif event.is_past %}
        <p>{% trans "Sorry, this circle already happened" %}</p>
        <a href="{% url 'circles:list' %}">{% trans "Back" %}</a>
      {% else %}
        <p>
          {% trans "Please provide your E-Mail Address." %}<br>
          {% trans "You will receive an e-mail containing a link to join the circle, before the circle is starting" %}
        </p>

        <form target="{% url 'circles:join' event.id %}" method="POST">
          {% csrf_token %}
          {{ form|crispy }}
          <a href="{% url 'circles:list' %}">{% trans "Cancel" %}</a>
          <button type="submit">{% trans "Participate" %}</button>
        </form>
      {% endif %}
      
    </div>
  </div>
</div>
{% endblock content %}
