{% extends "base.html" %}
{% load i18n %}

{% block body %}event-list{% endblock body %}

{% block content %}
<div class="events">
	<div class="container">
		<div class="row">
			<div class="col-sm-12"><h2>{% trans "Upcoming Circles" %}</h2></div>

			<div class="col-md-8 col-sm-12">
        {% if events %}
          <ul class="event-list">
            {% for event in events %}
              {% include "circles/_event.html" %}
            {% endfor %}
          </ul>
        {% else %}
          <p>{% trans "No circles at the moment, would you like to host one?" %}</p>
        {% endif %}
      </div>
      
      <div class="col-md-4 col-sm-12 right m-auto">
				<a class="btn btn-secondary btn-lg" href="{% url 'circles:host' %}">{% trans "Host a Circle" %}</a>
			</div>

    </div>
  </div>
</div>
{% endblock content %}