{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <h2>{% trans "You are participating" %}</h2>
      <p>
      	{% blocktrans with date=event.start %}In the circle happening at <b>{{ date }}</b>{% endblocktrans %}
  		</p>
      <a href="mailto:?subject=Invitation to join my CoronaCircle!&body=Hey, I am participating in a CoronaCircle on {{ request.scheme }}://{{ request.get_host }}. It is basically an online meeting, where we share our thoughts and feelings and I would like to invite you to join us here: {{ request.scheme }}://{{ request.get_host }}{% url 'circles:participate' event.id %}" class="btn btn-secondary">{% trans "Invite people to join your Circle by email" %}</a>
      <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.scheme }}://{{ request.get_host }}{% url 'circles:participate' event.id %}F&amp;src=sdkpreparse" class="btn btn-primary" class="btn btn-primary">{% trans "Invite people to join the Circle on Facebook" %}</a>

    </div>
  </div>
</div>
{% endblock content %}