{% if carousel_items %}
  <header>
    <div id="carouselHeader" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        {% for item in carousel_items %}
          <li data-target="#carouselHeader" data-slide-to="{{ forloop.counter0 }}" {% if forloop.counter0 == 0 %}class="active"{% endif %}></li>
        {% endfor %}
      </ol>

      <div class="carousel-inner" role="listbox">
        {% for item in carousel_items %}
          <div class="carousel-item {% if forloop.counter0 == 0 %}active{% endif %}">
            <div class="container">
              <div class="row">
                <div class="col-md-6 col-sm-12 left"><h1>{{ item.headline }}</h1></div>
                <div class="col-md-6 col-sm-12 my-auto right">{{ item.text|safe|escape }}</div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>

      <a class="carousel-control-prev" href="#carouselHeader" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Zurück</span>
      </a>
      <a class="carousel-control-next" href="#carouselHeader" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Weiter</span>
      </a>
    </div>
  </header>
{% endif %}