{% load i18n %}
{% load columns %}

{% if testimonials %}
	<div class="container">
		<div class="row">
			<div class="col-sm-12"><h1>{% trans "Testimonials" %}</h1></div>
				{% for col  in testimonials|columns:2 %}
					<div class="col-sm-12 col-md-6">
						<ul class="list-unstyled">
							{% for testimonial in col  %}
								<li class="media">
									<img src="{{ testimonial.image.url }}">
									<div class="media-body ml-3">
										"{{ testimonial.text|safe|escape|truncatewords:60 }}"
										<span class="author">{{ testimonial.author }}</span>
									</div>
								</li>
							{% endfor %}
						</ul>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endif %}