{% load i18n %}
{% load columns %}

{% if testimonials %}
    <div id="Testimonials" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        {% for testimonial in testimonials %}
          <li data-target="#Testimonials" data-slide-to="{{ forloop.counter0 }}" {% if forloop.counter0 == 0 %}class="active"{% endif %}></li>
        {% endfor %}
      </ol>

      <div class="carousel-inner" role="listbox">
        {% for testimonial in testimonials %}
          <div class="carousel-item {% if forloop.counter0 == 0 %}active{% endif %}">
          	<div class="container">
	            <img class="mx-auto" src="{{ testimonial.image.url }}">
	            <span class="testimonial">
					{{ testimonial.text|safe|escape|truncatewords:60 }}
					<span class="author">{{ testimonial.author }}</span>
				</span>
          	</div>
          </div>
        {% endfor %}
      </div>

      <a class="carousel-control-prev" href="#Testimonials" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Zurück</span>
      </a>
      <a class="carousel-control-next" href="#Testimonials" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Weiter</span>
      </a>
    </div>
{% endif %}