{% load i18n flatpages %}

{% get_flatpages as flatpages %}

<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-5 newsletter">
        <form action="https://coronacircles.us8.list-manage.com/subscribe/post?u=523ef0882d4c7a185ecf5105a&amp;id=9e53921fb4" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div style="position: absolute; left: -5000px;" aria-hidden="true">
            <input type="text" name="b_f7fcffd059cde2df667ed71e0_b59497a580" tabindex="-1" value="">
          </div>
          <div class="mc-field-group">
            <div class="form-group">
              <label for="mce-EMAIL" class="sr-only">{% trans "Email Address" %}</label>
              <div class="input-group">
                <input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL" placeholder="Email Address">
                <span class="input-group-btn">
                    <button class="btn btn-secondary" type="submit">{% trans "Subscribe" %}</button>
                </span>
              </div>
            </div>
          </div>
          <div id="mce-responses">
            <div class="response text-warning" id="mce-error-response" style="display:none"></div>
            <div class="response text-success" id="mce-success-response" style="display:none"></div>
          </div>
        </form>
      </div>
      <div class="col-sm-12 col-md-4 offset-md-1">
        <ul class="footermenu">
          <li><a href="/#contact">{% trans "CONTACT US" %}</a></li>
          <li><a href="mailto:contact@coronacircles.net">contact@coronacircles.net</a></li>
        </ul>
        <b></b>
      </div>
      <div class="col-md-2">
        <ul class="footermenu">
          {% for page in flatpages %}
            <li><a href="{{ page.url }}">{{ page.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

  <div class="social-bar">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <p>2020 &copy; CoronaCircles</p>
        </div>
        <div class="col-sm-6">
          <ul class="float-right list-inline">
              <li class="list-inline-item ml-3">
                  <a href="https://www.facebook.com/groups/243133500134037/" target="_blank"><i class="fa fa-facebook-f"></i></a>
              </li>
              <li class="list-inline-item ml-3">
                  <a href="https://github.com/CoronaCircles/coronacircles/" target="_blank"><i class="fa fa-github"></i></a>
              </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>

{% block extrafooter %}
  <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
{% endblock extrafooter %}