<footer class="footer mt-auto fixed-bottom">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-5 newsletter">
        <form action="YOUR_MAILCHIMP_URL" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div style="position: absolute; left: -5000px;" aria-hidden="true">
            <input type="text" name="b_f7fcffd059cde2df667ed71e0_b59497a580" tabindex="-1" value="">
          </div>
          <div class="mc-field-group">
            <div class="form-group">
              <label for="mce-EMAIL" class="sr-only">Email Address</label>
              <div class="input-group">
                <input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL" placeholder="Email Address">
                <span class="input-group-btn">
                    <button class="btn btn-secondary" type="submit">Subscribe</button>
                </span>
              </div>
            </div>
          </div>
          <div id="mce-responses">
            <div class="response text-warning" id="mce-error-response" style="display:none"></div>
            <div class="response text-success" id="mce-success-response" style="display:none"></div>
          </div>
        </form>
      </div>
      <div class="col-sm-12 col-md-4 offset-md-1">
        PLACEHOLDER_FOOTER_RIGHT
      </div>
      <div class="col-md-2">
        <ul class="footermenu">
          <li><a>TESTMENUENTRY</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="social-bar">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <p>&copy; Corona Circles</p>
        </div>
        <div class="col-sm-6">
          <ul class="float-right list-inline">
              <li class="list-inline-item ml-3">
                  FACEBOOK
              </li>
              <li class="list-inline-item ml-3">
                  TWITTER
              </li>
              <li class="list-inline-item ml-3">
                  INSTAGRAM
              </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>