{% load flatpages %}
{% get_flatpages as flatpages %}

<nav class="navbar navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand" href="/">Corona Circles</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        {% for page in flatpages %}
          <li><a href="{{ page.url }}">{{ page.title }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>